spring:
  application:
    name: octocat

---

spring:
  config:
    activate:
      on-profile: dev


---

spring:
  config:
    activate:
      on-profile: test
  cache:
    type: "none"  # Disable spring cache for testing profile. See https://docs.spring.io/spring-boot/reference/io/caching.html#io.caching.testing